// @import '../fonts/4735dd9ca25670c44600021e7428b8d3.eot','../fonts/4735dd9ca25670c44600021e7428b8d3.svg','../fonts/4735dd9ca25670c44600021e7428b8d3.ttf','../fonts/4735dd9ca25670c44600021e7428b8d3.woff','../fonts/4735dd9ca25670c44600021e7428b8d3.woff2','../fonts/Demo.html';
$mainFont:'Segoe','san-serif';
$gray:#dbdbdb;
$white:#fff;
$black:#000;
$blue: rgb(0, 149, 246);
$blue2:rgb(0, 55, 107);
$grey:#8E8E8E;
$gray2:rgb(199, 199, 199);
$canteinerWidth:946px;