@import './fonts', './mixsin', './normalize', './variebles';

/*Global Stayle Start*/
.Wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    font-family: "Segoe";
    font-style: normal;
    color: #000;
    font-size: 14px;
}

.canteiner {
    width: 100%;
    max-width: 946px;
    padding: 0 20px;
    margin: 0 auto;

}

.Header_row_Top-bottom-btn.active {
    color: black;
    font-weight: bold;
}

.Header_row_Top-bottom-btn svg {
    fill: currentColor;
    transition: fill 0.3s ease;
}
.Slider {
    position: relative;
    width: 1104px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_wrap {
        position: relative;
        z-index: 2;
        width: 1004px;
        height: 500px;
        overflow: hidden;

        &-track {
            display: flex;
            align-items: center;
            position: absolute;
            transition: all 0.3s ease;
            gap: 2px;
           &-menu{
            width: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &-item {
                width: 500px;
                height: 500px;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
           }
        }

        &-Btns {
            // position: relative;
            // top: 50%;
            &-btn {
                position: absolute;
                // bottom: 0;
                z-index: 5;
                transition: all 0.1s ease;
                &:active{
                    transform: translateY(4px);
                }
                &-prev{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(158, 152, 152);
                    color: $white;
                    left:  -40px;
                    top: 20px;
                }
                &-next {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(158, 152, 152);
                    color: $white;
                    top: 20px;
                    right: -40px;
                }
            }
        }

        
    }
}
/*Global Stayle End*/

/*Header Start*/
.Header {
    width: 17.5%;
    height: 100vh;
    border-right: 1px solid $gray;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;

    &_row {
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

        &_Top {
            &-top {
                padding: 25px 12px;
                margin-bottom: 19px;
            }

            &-bottom {
                display: flex;
                flex-direction: column;

                &-btn {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 12px;
                    font-size: 15px;
                    cursor: pointer;
                    transition: color 0.3s ease,
                        font-weight 0.3s ease;

                    & :nth-child(2) {
                        margin: 4px 0;
                    }
                }
            }
        }

        &_bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 12px;

            & button {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 12px;

            }
        }
    }
}

/*Header End*/
/*Main Start*/
.Main {
    width: 68.3%;
    height: 100vh;
    margin-left: 608px;
    display: flex;
    justify-content: space-between;

    // align-items: center;
    &_left {
        width: 49.5%;
        height: 100vh;
        &-navbar{
            width: 100%;
            height: 80px;
            border: 1px solid $grey;
            display: flex;
            align-items: center;
            margin: 30px 0 0 0 ;
            &-nav{
                width: 632.02PX;
                height: 100%;
                &-track{
                    display: flex;
                    align-items: center;
                    width: 320%;
                    height: 100%;
                    &-item{
                        width: 60px;
                        height: 60px;
                        background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & img{
                            width: 90%;
                            height: 90%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        &-post{
            width: 100%;
            height: 850px;
            margin: 55px 0 0 0 ;
            border: 1px solid $grey;
            padding: 0 82px;
        }
    }

    &_right {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: space-around;
        width: 39.4%;
        height: 63%;
        padding: 25px 180px 0 0;
        margin-right: 95px;

        &-top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & img {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                cursor: pointer;
            }

            & span {
                cursor: pointer;
                font-size: 15px;
            }

            & p {
                cursor: pointer;
                color: $grey;
            }

            & button {
                color: $blue;
                transition: all 0.1s ease;

                &:hover {
                    color: $blue2;
                }
            }
        }

        &-main {
            width: 100%;
            height: 63%;
            margin: 24px 0 8px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & p {
                    font-family: $mainFont;
                    font-size: 16px;
                    color: $grey;
                }

                & button {
                    transition: all 0.1s ease;

                    &:hover {
                        color: $gray;
                    }
                }
            }

            &-accaunt {
                padding: 0 0 8px 0;

                &-tab {
                    width: 100%;
                    padding: 15px 0;
                }
            }
        }

        &-footer {
            width: 100%;
            padding: 25px 0 0 0;

            &-href {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                & a {
                    line-height: 20px;
                    font-size: 14px;
                    color: $gray2;
                    cursor: pointer;
                    transition: all 0.1s ease;
                    & :hover{
                        text-decoration: underline;
                    }
                }
            }

            &-litli {
                margin-top: 16px;
            }
        }
    }
}

/*Main End*/
